<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <h1 class="text-center" *ngIf="authService.isAuthed()">Hello, {{authService.getUsername()}}</h1>
        <h1 class="text-center">Welcome to WeTube</h1>
        <hr/>
        <!--<h3 class="text-center"><a routerLink="/login">Login</a> if you have an account or <a
          routerLink="/register">register</a> if you don't, and <a routerLink="/tubes/create">create</a> your first Tube
        </h3>-->
        <h2>Most Recent Tubes</h2>

        <div class="row jumbotron pb-1 pt-3">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button><i class="fas fa-search"></i></button>
              </div>
              <input type="text" class="form-control" name="search" [(ngModel)]="model.search"
                     (input)="generateTubes()" placeholder="Search...">
            </div>
          </div>
          <div class="col-md-6">
            <select class="form-control" id="categoryId" name="categoryId" [(ngModel)]="model.categoryId"
                    (change)="generateTubes()">
              <option value="0">All categories</option>
              <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4" *ngFor="let tube of tubes">
            <a routerLink="/tubes/details/{{tube.id}}"><h4>{{tube.title}}</h4></a>
            <img class="img-thumbnail" src="http://img.youtube.com/vi/{{tube.youtubeId}}/0.jpg"/>
            <p>Publisher: {{tube.publisher}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
